* {
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
}

.header {
    box-shadow: 0px 2px 0px rgba(128,128,128, .15);
    position: sticky; 
    top: 0;
    background-color: white;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a, a:hover, a:visited, a:active {
    text-decoration: none; 
    color: inherit;
}

.home {
    margin-left: 1em;
    font-weight: bold;
    font-size: 1.5em;
}

ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

ul:last-child {
    margin-right: 1em;
}

li > a {
    margin: 0 -.25rem;
    padding: 0 auto;
    box-shadow: inset 0 0 0 0 rgb(191, 25, 25);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

li > a:hover {
    box-shadow: inset 100px 0 0 0 rgb(230, 14, 14);
    color: black;
}

.body-first {
    height: 100vh;
    width: 100%;
    display: flex;
    background: url(./images/main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    background-attachment: fixed;
}

.body-first > div {
    margin-top: -10em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.body-first > div > h1 {
    margin-bottom: 0;
    font-size: 4em;
    text-align: center;
}


.body-first > div > p {
    font-size: 1.5em;
}

.body-second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    padding-bottom: 6em;
}

.body-second-header > h1 {
    margin-bottom: 40px;
    font-size: 2.8em;
    font-weight: 700;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 4em;
    flex-wrap: wrap;
    justify-content: center;
}

.frames {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frame {
    border: 5px solid #8ecae6;
    height: 15em;
    width: 15em;
    border-radius: 1em;
}

.content {
    font-size: 1.2em;
}

.quote-section {
    background-color: #caf0f8;
    padding-top: 8em;
    padding-bottom: 8em;
    justify-content: center;
    align-items: center;
}

.actual-quote, .person-quoted {
    margin-left: 15em;
    margin-right: 15em;
}

.actual-quote > p {
    font-size: 3em;
    margin-bottom: 0;
    font-style: italic;
}


.person-quoted > p {
    margin-top: 1em;
    font-size: 2em;
    font-weight: bold;
    text-align: right;
}

